@model RealEstateManagementSystem.Models.Agent

<tr>
    <td>@Model.Id</td>
    <td><a href="/Agents/Details/@Model.Id">@Model.FullName</a></td>
    <td>@Model.LicenseNumber</td>
    <td>@Model.Email</td>
    <td>@Model.PhoneNumber</td>
</tr>
